CRS
gdp
geopandas
glob2
imageio
Matplotlib
numpy
pandas
pygeoprocessing
pygrib
pyproj
pysteps
tifftools

#Further packages used included in the scripts that are included in the Python standard library: bisect, collections, CSV, gzip, os, pickle, PIL and time

